@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 1rem;

}


.title {
    color: rgb(2, 192, 12);
    margin-bottom: 2rem;

    font-size: 2rem;

}

.paper {
    color: rgb(211, 7, 0);
    font-size: 2rem;
}


.scissors {
    color: rgb(46, 0, 211);
    font-size: 2rem;
}


#total {
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 5px 60px rgb(153, 153, 153);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    padding: 4% 4%;
    width: 60%;
}


#scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(136, 101, 172);
    border-radius: 20px;
    text-align: center;
}


#yourScore,
#botScore {
    flex: 1;

}

#gameBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 1%;
    width: 100%;

}

#botSide,
#yourSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    min-height: 300px;
    border-radius: 2rem;
    width: 30%;
    border: 4px solid rgb(148, 148, 148);



}


button {
    border: none;
    outline: none;
    padding: 5% 5%;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}


button:hover {
    background-color: rgb(0, 0, 0);
    color: white;

}


#btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
    border-radius: 2rem;
    margin-top: 1rem;

}



.usersSide,
#botSelectionShow {
    margin-top: 2rem;
    font-size: 1rem;
}


#botSelectionShow {
    margin-top: 3rem;
}



@media(max-width:830px) {

    #total {
        margin: auto;
        margin-top: 80px;
    }




    #gameBoard {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        justify-content: center;
        padding: 1% 1%;
        width: 100%;

    }

    #botSide,
    #yourSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        min-height: 200px;
        border-radius: 2rem;
        width: 100%;


    }




}

@media(max-width:665px) {




    .title {
        color: rgb(2, 192, 12);
        margin-bottom: 2rem;
        font-size: 1.5rem;

    }

    .paper {
        color: rgb(211, 7, 0);
        font-size: 1.5rem;
    }


    .scissors {
        color: rgb(46, 0, 211);
        font-size: 1.5rem;
    }



}

@media(max-width:665px) {

    .title {
        color: rgb(2, 192, 12);
        margin-bottom: 2rem;
        font-size: 1rem;

    }

    .paper {
        color: rgb(211, 7, 0);
        font-size: 1rem;
    }


    .scissors {
        color: rgb(46, 0, 211);
        font-size: 1rem;
    }



}